header{
	height: 44px;
	background: black;
	width: 100%;
	display: flex;
	position: fixed;
	top:0;
	left: 0;
	padding-top: 20px;
	color: white;
	font-size: 17px;
	text-align: center;
	z-index: 40;
}

body{
	background: #CCCCCC;
}

.back{
	width: 80px;
}
.omit{
	width: 80px;
}
.title{
	flex: 1;
}
.home_main{
	width: 100%;
	height: 92px;
	background:#ffd600;
	margin-top: 64px;
	display: -webkit-flex;
	text-align: center;
	}
.home_main a{
	text-align: center;
	font-size: 15px;
	color: black;
	width: 60px;
	display: inline-block;
	height: 92px;
	vertical-align: middle;
	padding-top: 19px;
	box-sizing: border-box;
}
.home_main a img{
	width: 65%;	
}
.home_main .p1{
	font-size: 19px;
	font-weight: bold;
	flex: 1;
	line-height: 92px;
}

.carousel{
	width:100%;
	overflow: hidden;
	background:pink;
	height: 240px;
	position:relative;
}

.carousel_juan{
	width: 700%;
	overflow: hidden;
}

.carousel_juan img{
	float: left;
	width: 14.285%;
	height:240px;
}

.carousel_list{
	position: absolute;
	width: 100px;
	height: 20px;
	right: 10px;
	bottom:10px;
}

.carousel_list li{
	width: 10px;
	height: 10px;
	float: left;
	border-radius: 20px;
	background: #ccc;
	margin-left: 3px;
	margin-right: 3px;
}

.home_center{
	width: 100%;
	box-sizing: border-box;
    text-align: center;
    margin-top: 15px;
    background: white;
}

.home_center a{
	display: inline-block;
	width: 24%;
	padding: 5px 0;
}

.home_center a img{
	width:100%;
}

.home_center a p{
	text-align: center;
}

.home_head{
	width: 100%;
	margin: 15px 0;
	background: white;
	font-size: 14px;
	padding: 6px 0;
}

.home_head img{
	width: 20%;
	border-right: 1px solid #ccc;
	padding:0 3px;
	vertical-align: middle;
}

.home_head label span{
	color: red;
	border-radius: 5px;
	border: 1px solid red;
	padding: 2px 3px;
	margin: 0 3px;
}

.home_head label{
	width:76%;
	color: #ccc;
	vertical-align: middle;
}

.home_headone{
	width: 100%;
	overflow: hidden;
}

.home_headone img{
	float: left;
	width: 33.32%;
	overflow: hidden;
}

.home_headtwo{
	width: 100%;
	margin: 15px 0;
	overflow: hidden;
	
}

.home_headtwo img{
	width: 50%;
	float: left;
}

.home_headthree{
	width: 98%;
	overflow: hidden;
	background: white;
	color: #f38631;
	padding: 10px 1%;
}

.home_headthreeLeft{
	float: left;
	line-height: 40px;
	
}

.home_headthreeLeft span{
	width: 30px;
	height: 20px;
	background:#F38631;
	margin-left: 5px;
	margin-right: 5px;
}

.home_headthreeRight{
	float: right;
	color: gray;
	line-height: 40px;
}


.home_bao{
	width: 100%;
	background: white;
	overflow: hidden;
}

.home_picture{
	width: 98%;
	margin: 0 auto;
}

.home_picture img{
	width: 100%;
}

.home_sift{
	width: 98%;
    margin: 0 auto;
    background: white;
    overflow: hidden;
}

.home_sift p{
	margin: 10px 0;
}

.home_sift img{
	width: 100%;
}
.sift_left{
	width: 31%;
	float: left;
}

.home_sift p:nth-child(2){
	font-size: 17px;
}

.home_sift .sp{
	color: red;
	border-radius: 7px;
	border: 1px solid red;
	padding: 3px 5px;
}

.home_sift p:nth-child(3) label{
	color: white;
	background: red;
	border-radius: 7px;
	border: 1px solid red;
	padding: 3px 5px;
	margin-left: 10px;
}

.home_sift p:nth-child(4){
	color:#ccc;
}

.home_sift p:nth-child(5){
	color:red;
}
.home_sift p:nth-child(5) span{
	color: #ccc;
	text-decoration:line-through;
	margin-left: 10px;
}

.home_sift p:nth-child(5) label{
	color: red;
	border: 1px solid red;
	border-radius: 10px;
	padding: 0 5px;
	margin-left: 8px;
	font-weight: bold;
	font-size: 18px;
}


.sift_center{
	width: 31%;
	float: left;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin: 0 7px;
	padding: 0 6px;
}

.sift_right{
	width: 31%;
	float: left;
}
