header{
	height: 44px;
	background: black;
	width: 100%;
	display: flex;
	position: fixed;
	top:0;
	left: 0;
	padding-top: 20px;
	color: white;
	font-size: 17px;
	text-align: center;
}

.back{
	width: 80px;
}
.omit{
	width: 80px;
}
.title{
	flex: 1;
}

.shopCar_out{
	width: 100%;
	padding-bottom: 20px;
}

.shopCar_main{
	width: 100%;
	margin-top:64px;
	text-align: center;
	padding: 20px 0;
	font-size: 20px;
	background: white;
}

.shopCar_location{
	width: 100%;
	padding: 20px 0;
	font-size: 18px;
	background: white;
}

.shopCar_location p{
	width: 90%;
	margin-left: 20px;
}

.shopCar_location a{
	color: red;
}

.shopCar_flash{
	width: 100%;
	background: white;
	margin-top: 20px;
	border-bottom: 1px solid #ccc;
}

.shopCar_flash li{
	line-height: 40px;
}

.shopCar_flash li:nth-child(1){
	font-size: 20px;
	color: #ccc;
}

.shopCar_flash li:nth-child(1) span{
	background:#FFD600;
	margin-left: 20px;
	margin-right: 10px;
	color: #FFD600;
	border-radius: 5px;
}

.shopCar_flash li:nth-child(2){
	font-size: 14px;
	color: #ccc;
}

.shopCar_time{
	width: 100%;
	overflow: hidden;
	background: white;
	padding: 20px 0;
	margin-top: -1px;
}

.shopCar_time p{
	float: left;
	font-size: 20px;
	color: black;
	margin-left: 20px;
	margin-right: 10px;
	
}

.shopCar_time p:nth-last-child(2){
	color:red;
}

.shopCar_time p:nth-last-child(1){
	float: right;
}

.shopCar_comment{
	width: 100%;
	background: white;
	padding: 20px 0;
	font-size: 20px;
	border-bottom: 1px solid #ccc;
}

.shopCar_comment span{
	width: 27%;
	font-size: 20px;
	margin-left: 20px;
	margin-right: 20px;
	vertical-align: middle;
}

.shopCar_comment input{
	width: 66%;
	height: 40px;
	vertical-align: middle;
	border-radius: 5px;
	font-size: 18px;
	box-sizing: border-box;
	border: 1px solid #ccc;
}

.shopCar_dirme{
	width: 100%;
	background: white;
	overflow: hidden;
	display: -webkit-flex;
	justify-content: space-between;
	padding: 20px 0;
	
}

.shopCar_dirme a img{
	vertical-align: middle;
}

.shopCar_dirme a span{
	vertical-align: middle;
}

.shopCar_dirme p{
	line-height: 40px;
}

.shopCar_dirme p:nth-last-child(1){
	background: yellow;
	text-align: center;
    width: 20%;
}

 .jiajian{
	position:absolute;
	font-size: 20px;
	right: 50px;
	bottom:20px;
	width: 50%;
}

 .jiajian span{
	width: 30%;
	padding: 0 10px;
}

 .jiajian label{
 	width: 10%;
 	border:1px solid red;
	border-radius:10px;
	padding: 3px 15px;
	margin-left: 10px;
	margin-right: 10px;
 }
