
<header>
	<P class="back" ng-click="homeBtn()">&lt;返回</P>
	<p class="title">爱鲜蜂</p>
	<p class="omit">•••</p>
</header>
<nav>
	<P class="back2" ng-click="homeBtn2()"><img src="img1/order-1.png"/></P>
	<p class="title2">疯狂秒杀</p>
	<p class="omit2"><img src="img1/order-2.png"/></p>
</nav>
<div class="crazy_seckill">
	<img src="img1/seckill.jpg"/>
	<p>分享</p>
</div>
<ul class="crazy_seckill2">
	<li>
		<p>10:00</p>
		<p>已结束</p>
	</li>
	<li>
		<p>12:00</p>
		<p>已结束</p>
	</li>
	<li>
		<p>15:00</p>
		<p>已结束</p>
	</li>
	<li>
		<p>17:00</p>
		<p>已结束</p>
	</li>
</ul>